@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");
#landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100vh); }
  #landing img {
    transform: translateY(100vh);
    border-radius: 20vh;
    border: 0.75vh solid #293D5A;
    box-shadow: 3vh 3vh 3vh #01050B;
    height: 20vh;
    width: 20vh;
    position: absolute; }
  #landing #intro {
    position: absolute;
    max-width: 95%;
    -webkit-font-smoothing: antialiased;
    transform: translateY(100vh); }
    #landing #intro p {
      overflow-y: hidden;
      font-family: 'Roboto Mono' !important;
      font-size: 1em;
      font-weight: 300;
      color: #ccd6f6;
      text-shadow: .1em .1em .1em black; }
  #landing #social {
    transform: translateY(100vh);
    position: absolute; }
    #landing #social i {
      margin-left: 0.5em;
      margin-right: 0.5em;
      font-size: 2em;
      color: #ccd6f6; }

.showLanding #landing {
  transform: translateY(0vh) !important;
  transition: transform 1.5s ease-in-out; }
  .showLanding #landing img {
    transform: translateY(-10vh) !important;
    transition: transform 1.5s ease-in-out; }
  .showLanding #landing #intro {
    transform: translateY(10vh) !important;
    transition: transform 1.7s ease-in-out; }
    .showLanding #landing #intro #js-txt {
      color: #F0DB4F; }
  .showLanding #landing #social {
    transform: translateY(30vh) !important;
    transition: transform 1.9s ease-in-out; }

.dismissLanding {
  transform: translateY(100vh) !important;
  transition: transform 1.5s ease-in-out; }
  .dismissLanding img {
    transform: translateY(100vh) !important;
    transition: transform 1.5s ease-in-out; }
  .dismissLanding #intro {
    transform: translateY(100vh) !important;
    transition: transform 1.7s ease-in-out; }
    .dismissLanding #intro #js-txt {
      color: #F0DB4F; }
  .dismissLanding #social {
    transform: translateY(100vh) !important;
    transition: transform 1.9s ease-in-out; }

#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100vh); }
  #about #skills h1 {
    color: white; }
  #about #skills p {
    color: white; }

.showAbout #about {
  transform: translateY(-100vh) !important;
  transition: transform 1.5s ease-in-out; }

.dismissAbout {
  transform: translateY(100vh) !important;
  transition: transform 1.5s ease-in-out; }

* {
  overflow: hidden; }

#wrapper {
  background-color: #12162d; }
