.showAbout
  #about
    transform: translateY(-100vh) !important
    transition: transform 1.5s ease-in-out
    #skills
      transform: translateY(-10vh) !important
      transition: transform 1.5s ease-in-out
    #travel
      transform: translateY(10vh) !important
      transition: transform 1.5s ease-in-out
